body {
    background-color: #ddd;
}

.story {
    background-color: #FFF291;
    width: 100px;
    font-weight: 500;
    padding: 4px 6px;
    margin-right: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.story:last-child {
    margin-right: 0;
}

.epic-container {
    padding: 5px;
    padding-bottom: 0;
    background-color: #eee;
    margin: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}

.epic-container:last-child {
    margin-right: 0;
}

.epic-description {
    font-stretch: extra-condensed;
    font-weight: 500;
    padding: 6px 8px;
}

.epic-description .name {
    font-size: 150%;
    font-weight: 700;
}

.epic-stories {
    margin: 12px;
    display: flex;
    flex-direction: row;
}